* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.menu{
    height: 100px;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.container{
    max-width: 800px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    object-fit: cover;
}

.navegation{
    margin: right 0;
}

.nav-items{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-items li{
    list-style: none;
}

.nav-items li a{
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-items li a:hover {
    color: #f00;
}

/* Main */

.call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 100px;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0 ,0, 0, 0.5)), url(https://www.ingridkuhn.com/themes/unitedpets/img/slider/slide1-parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;
    color: white;

    h1{
        text-transform: uppercase;
        color: white;
    }
    
    p{
        color: white;
    }

    button{
        text-transform: uppercase;
        max-width: 150px;
        font-weight: 700;
        padding: 10px 30px;
        color: white;
        background-color: #018ac0;
        border-radius: 25px;
        border: none;
    }
    
    .fondoperros{
        max-width: 70%;
        max-height: 60%;
    }
}


/* Second Part */

.quality{
    max-width: 800px;
    margin: auto;
    align-items: center;
    display: flex;
    padding: 50px 0px;


    button{
        width: 150px;
        padding: 10px 30px;
        background-color: #d61c62;
        border-radius: 25px;
        border: none;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.quality-text{
    display: flex;
    flex-direction: column;
    h1{
        padding-bottom: 10px;
    }
}

/* Third Part */

.services{
    display: flex;
    width: 100%;
    max-height: 350px;
}

.service-element{
    width: 33.33%;
    height: 350px;
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
    color: white;
    background-size: cover;
    padding-top: 10px;
    background-color: rgba(0 ,0, 0, 0.4);
    border-bottom: 4px solid #018ac0;

    div{
        height: 25%;
    }

    h2{
        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 5px;
    }
}

#service{
    background-image: url(./recursos/box1.jpg);
}

#about{
    background-image: url(./recursos/box2.jpg);
}

#team{
    background-image: url(./recursos/box3.jpg);
}


/* Fourth Part */

