* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.menu{
    height: 100px;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.container{
    max-width: 800px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    object-fit: cover;
}

.navegation{
    margin: right 0;
}

.nav-items{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-items li{
    list-style: none;
}

.nav-items li a{
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-items li a:hover {
    color: #f00;
}

/* Main */

.call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 100px;
    height: 450px;
    background-color: red;
    gap: 20px;
    color: white;
}

button{
    text-transform: uppercase;
    max-width: 150px;
    font-weight: 700;
    padding: 10px 30px;
    color: white;
    background-color: #018ac0;
    border-radius: 25px;
    border: none;
}

.fondoperros{
    max-width: 70%;
    max-height: 60%;
}

/* Second */

.second{
    background-color: #018ac0;
    width: 100%;
    height: 250px;
}

.quality{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.container2{
    padding-left: 60px;
}

.titulo2{
    font-size: 30px;
}

.texto2{
    font-size: 15px;
    color: gray;
    width: 100%;
    font-weight: 400;
}

.containerbutton{
    padding-right: 0px;
    width: 40%;
    padding-top: 40px;
}

.button2{       
    font-size: 16px;
    font-weight: 700;
    max-width: 100%;
    padding: 10px 50px;
    background-color: #D61C62;
}

.button2:hover{
    background-color: #018ac0;
}

/* Seccion 3 */

.third{
    width: 100%;
    height: 100%;
}

.servicios{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.servicios img{
    max-width: 100%;
}
